
/*CSS to toolbar to have height 5%, width 100%, backroud color orngeand font color white and font size 600*/
.mat-toolbar-row{
    height: 5%;
    width: 100%;
    background-color: rgb(116, 230, 236);
    color: white;
    font-size: 600;
    
}