/* CSS for card to set max height of 250px, background color #f1f1f1, and margin top of 10% */
.example-card {
    max-height: 250px;
    background-color: #f1f1f1;
    margin-top: 10%;
  }
  
  /* CSS for header image to set background image to stock.jpeg and background size to cover */
  .example-header-image {
    background-image: url('../../assets/img.jpg');
    background-size: cover;
  }
  