<!-- Toolbar component is used to display the header of the page -->
<app-toolbar></app-toolbar>

<!-- div tag with flex as row wrap to itterate over the list of stocks and display the cards for each stock -->
<div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <!-- keep 3 cards in max for each row -->
    <div *ngFor="let stock of   wishlist" fxFlex="30">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><strong>{{stock.symbol}}</strong></mat-card-title>
          <mat-card-subtitle>{{stock.type}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>{{stock.name}}</strong></p>
          <p>Traded in <strong>{{stock.country}}</strong>, with currency as <strong>{{stock.currency}}</strong> and exchanged in <strong>{{stock.exchange}}</strong></p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" (click)= "getStockTimeSeries(stock.symbol)">Time Series</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>